<h1>Atlas <small>Overview, tutorial, and reference materials</small></h1>
<p>These are materials to help you use and understand Atlas. If you can't find what you're looking for or have a suggestion for content improvements please email <a href="mailto:support@hashicorp.com">support@hashicorp.com</a>.</p>

<hr>

<h3>What is Atlas?</h3>
<p>Atlas is one foundation to manage and provide visibility to your servers, containers, VMs, configuration management, service discovery, and additional operations services. As more operations choices are added to your data center, whether through a growing development team, company acquisitions, or general technical debt, managing complexity between legacy and new systems becomes a challenge. But no matter what stage your organization is in, the end goal is always the same — safely deploy and manage your infrastructure. Atlas helps companies achieve this goal with one workflow to move from development to production, and one dashboard to monitor and maintain infrastructure on any provider.</p>
